extends ../layout/index

block contenido
    div 
        div= texto
        h2 holaaaa
        if autenticado 
            p Usuario Autenticado 
        else 
            p Inicia Sesion
        a(href="https://www.google.com",target="_blank")