header(class="bg-blue-500 text-white p-4")
    h1 #{titulo}
    nav
        ul(class="flex space-x-4")
            li: a(href="/") Inicio
            li: a(href="/about") Acerca de
            li: a(href="/contact") Contacto